#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #language-button {
  background-image: url(../icons/module-language.svg);
}

#main-toolbar #face-button {
  background-image: url(../icons/face.svg);
}

#main-toolbar #speech-button {
  background-image: url(../icons/voice.svg);
}

#main-toolbar #gamemode1-button {
  background-image: url(../icons/mode-type.svg);
}

#main-toolbar #gamemode2-button {
  background-image: url(../icons/mode-robot.svg);
}

#main-toolbar #gamemode3-button {
  background-image: url(../icons/mode-chat.svg);
}

#speakText {
	height:45px;
	width:50px;
	margin:8px;
	right:4px;
	bottom: 15px;
	z-index:1;
	position:absolute;
	background-image: url(../icons/go-right.svg);
	background-size: 55px 50px;
	background-position: 50% 50%;
}

#userText {
	height:40px;
	margin:5px;
	margin-left:4vh;
	width:95vw;
	font-size: 28pt;
	font-weight: bold;
	z-index:0;
}

